*{
    box-sizing: border-box;
}

/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.quiz-container{
    box-shadow: 0 0 10px rgba(141, 141, 141, 0.5);
    border-radius: 10px;
    width: 400px;
}

.quiz-header{
    padding: 20px;
}

.quiz-header #question{
    margin: 10px auto;
    text-align: center;
    min-height: 50px;

}

.quiz-header ul{
    list-style: none;
    padding: 10px;
}

.quiz-header ul li{
    padding: 5px;
}

.quiz-header ul li label, .quiz-header ul li input[type=radio]{
    cursor: pointer;
}



.btn{
    width: 100%;
    outline: none;
    border: none;
    padding: 20px;
    background-color: rgb(214, 67, 214);
    color: white;
    font-size: 20px;
    border-radius: 0 0 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

#reset{
    background-color: rgba(233, 90, 233, 0.512);
    border-radius: 0;
    display: none;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body{
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db, #f5f7fa 100%);
}

.quiz-container{
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100,100,100,0.1);
    width: 600px;
}

.quiz-header{
    padding: 4rem;
}


h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
}

ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label{
    cursor: pointer;
}

button{
    width: 100%;
    background-color: #8e44ad;
    border: none;
    color: white;
    padding: 1.3rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.btn#reset{
    background-color: #8d44ad96;
}

.btn#reset:hover{
    background-color: #9d4dc0dc;
}

.btn:hover{
    background-color: #8f4dad;
}
